ipykernel>=6.25.2
ipython>=8.16.1
lightning>=2.0.9.post0
matplotlib>=3.8.0
numpy>=1.26.0
pandas>=1.0.5
seaborn>=0.13.0
tensorboard>=2.14.1
torch>=2.0.1
torchaudio>=2.0.2
torchvision>=0.15.2
statsmodels>=0.14.0